.container {
  width: 1024px;
  height: 700px;
  //   transform: translateY(10%);
  margin: auto;
  border: 1px solid #333;
  background-image: url(/assets/newspaper-template-tr.png);
  background-size: 100%;
}
